In [24]:
import pandas as pd
import numpy as np

In [25]:
data = np.random.randn(3,4)*100
dataFrame = pd.DataFrame(data)
dataFrame

            0           1           2           3
0 -124.814038   55.812880 -155.278371  -77.277131
1   10.248315 -113.490640  -32.010682  -72.429377
2 -106.649780  -27.783752   19.301968 -117.521293

In [26]:
#aşağıdaki gibi index ve columns vererek başlık ekleyebiliriz
newDataFrame  = pd.DataFrame(data,index=["satır_1","satır_2","satır_3"], columns=["sütun_1","sütun_2","sütun_3","sütun_4"])

In [27]:
newDataFrame

            sütun_1     sütun_2     sütun_3     sütun_4
satır_1 -124.814038   55.812880 -155.278371  -77.277131
satır_2   10.248315 -113.490640  -32.010682  -72.429377
satır_3 -106.649780  -27.783752   19.301968 -117.521293

In [28]:
#birden fazla verileri çekme imkanı var; 
newDataFrame[["sütun_1"]]

            sütun_1
satır_1 -124.814038
satır_2   10.248315
satır_3 -106.649780

In [29]:
newDataFrame.loc["satır_1"]

sütun_1   -124.814038
sütun_2     55.812880
sütun_3   -155.278371
sütun_4    -77.277131
Name: satır_1, dtype: float64

In [30]:
newDataFrame.iloc[0]

sütun_1   -124.814038
sütun_2     55.812880
sütun_3   -155.278371
sütun_4    -77.277131
Name: satır_1, dtype: float64

In [35]:
newDataFrame.loc["satır_1","sütun_2"]

55.81288012471697