In [1]:
import pandas as pd

In [15]:
data = {
    'isim': ['Ahmet', 'Ayşe', 'Mehmet', 'Ahmet'],
    'yaş': [25, 30, 22, 25],
    'şehir': ['İstanbul', 'Ankara', 'İzmir', 'İstanbul']
}

In [16]:
df = pd.DataFrame(data)

In [17]:
df.duplicated()

0    False
1    False
2    False
3     True
dtype: bool

In [18]:
df.drop_duplicates(inplace = True)

In [19]:
df

     isim  yaş     şehir
0   Ahmet   25  İstanbul
1    Ayşe   30    Ankara
2  Mehmet   22     İzmir