In [1]:
import pandas as pd

In [30]:
data = {
    'X': [99, 20, 30, 40, 50],
    'Y': [15, 85, 35, 96, 55],
    'Z': [5, 10, 15, 21, 99]
}

In [31]:
df = pd.DataFrame(data)

In [32]:
df

    X   Y   Z
0  99  15   5
1  20  85  10
2  30  35  15
3  40  96  21
4  50  55  99

In [33]:
corr_matris = df.corr()

In [34]:
corr_matris

          X         Y         Z
X  1.000000 -0.685981 -0.048992
Y -0.685981  1.000000  0.062823
Z -0.048992  0.062823  1.000000